.postContent{
    width: 100%;
    margin: 2rem 0;
    font-size: 1.8rem;
    line-height: 1.8;

    > *:not(:last-child) {
        margin-bottom: 2rem;
    }

    figure{
        width: 100%;
        
        img{
            width: 100%;
            
            object-fit: contain;
            margin-bottom: 1rem;
        }

        figcaption{
            strong{
                color: var(--main-color);
            }
        }
    }

    .iframeWrapper{
        position: relative;
        padding-bottom: 56.10%;
        height: 0;
        overflow: hidden;

        iframe, object, embed{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    a{
        color: var(--secondary-color);
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }

        &:active{
            text-decoration: underline;
        }
    }

    ul, ol{
        margin-left: 2rem;
        
        li:not(:last-child){
            margin-bottom: 1.4rem;
        }
    }

    h2{
        font-size: 3.2rem;
    }

    h3{
        font-size: 2.4rem;
    }

    .title{
        letter-spacing: .6rem;
    }
}

@media screen and (min-width: 1196px){
    .postContent{
        font-size: 2rem;

        h2{
            font-size: 3.4rem;
        }
    
        h3{
            font-size: 2.6rem;
        }
    }
}

