.adminpanel-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminpanel-container .adminpanel-routes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 42vh;
}

.adminpanel-container .adminpanel-routes a:first-child{
    background: var(--secondary-color);
}

.adminpanel-container .adminpanel-routes a:last-child{
    background: var(--contrast-color);
}

.adminpanel-container .adminpanel-routes a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;

    width: 80vw;
    height: 18vh;
}

@media screen and (min-width: 520px){
    .adminpanel-container .adminpanel-routes{
        height: 50vh;
    }

    .adminpanel-container .adminpanel-routes a{
        width: 40vw;
        height: 22vh;
    }
}