.Post{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.8rem 0;
}

.post-header{
    width: 56vw;
    margin-bottom: 6.2rem;
}

.post-header h2{
    font-size: 4.4rem;
    font-weight: 500;
    letter-spacing: initial;
}

.post-data-container{
    width: 56vw;
}

.post-data-container .post-form > div{
    margin-bottom: 6rem;
}

.post-data-container .post-form .post-input{
    display: flex;
    flex-direction: column;
}

.post-data-container .post-form .post-input input,
.post-data-container .post-form .post-input button{
    padding: 0 2rem;
    outline: none;

    border: 3px solid var(--secondary-color);
    color: #5C5C5C;
    height: 5.4rem;
}

.post-data-container .post-form .post-input label{
    font-weight: 800;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.post-data-container .post-form .post-input button{
    background: #FFF;
    height: 25rem;
}


.post-data-container .post-form .banner-preview{
    width: 100%;
    background: var(--secondary-color);
}

.post-data-container .post-form .banner-preview figure{
    width: 100%;
    position: relative;
}

.post-data-container .post-form .banner-preview figure img{
    object-fit: cover;
    height: 70rem;
    width: 100%;

}

.post-data-container .post-form .banner-preview figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .3);
    font-size: 2rem;
    color: #cccccc;

    display: none;
}

.post-data-container .post-form .banner-preview figure figcaption .font{
    font-weight: 800;
}

.post-data-container .post-form .banner-preview figure img:hover + figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.post-data-container .post-form .banner-preview .banner-edit{
    width: 100%;
    height: 7rem;

    background: none;
    border: none;
    outline: none;
}


