.postViewerContainer{
    width: 100vw;
    height: 100vh;

    main{
        width: 100%;
        padding: 1.8rem 2.6rem;

        header{
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            gap: 2rem;

            h1{
                font-family: Montserrat, sans-serif;
                font-weight: 800;
                font-size: 4.6rem;
                letter-spacing: .6rem;
                color: var(--secondary-color);
            }

            > div{
                display: flex;
                justify-content: space-between;

                > span {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    font-size: 1.8rem;
                    color: #737373;
                }

                .socialMediaButtons{
                    display: flex;
                    gap: 1.5rem;
                }
            }

            figure{
                img{
                    width: 100%;
                    
                    
                    object-fit: contain;
                    margin-bottom: 1.5rem;
                }

                figcaption{
                    font-size: 1.8rem;

                    strong{
                        color: var(--main-color);
                    }
                }
            }
        }
    }

    .readMore{
        width: 100%;
        padding: 1.8rem 2.6rem;
        margin-bottom: 2rem;

        > h2{
            font-family: Montserrat, sans-serif;
            font-weight: 800;
            font-size: 3.2rem;
            color: var(--secondary-color);

            margin-bottom: 4.2rem;
        }

        .latestPosts{
            display: flex;
            flex-direction: column;

            button{
                background: none;
                border: none;
                text-align: left;
            }
        }
    }
    
}

@media screen and (min-width: 768px){
    .postViewerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        main, .readMore{
            width: 68vw;
        }

        .readMore{
            .latestPosts{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (min-width: 1416px){
    .postViewerContainer {
        main, .readMore{
            width: 66vw;
            gap: 2rem;
        }
    }
}

