.nav-bar{
    width: 100vw;
}
.nav-bar img{
    width: 16rem;
    height: 10rem;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--contrast-color);
    margin-bottom: 3rem;
    width: 100vw;
}

.nav-bar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.8rem 2.6rem;
}

.nav-bar .nav-bar-inner.extended{
    display: grid;

    grid-template-rows: 12rem 1fr;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: "logo menu-icon" "main main";

    height: 100%;
    margin-bottom: 2.8rem;
}

.nav-bar .nav-bar-inner .nav-bar-main .nav-bar-links,
.nav-bar .nav-bar-inner .nav-bar-input{
    display: none;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main .nav-bar-links,
.nav-bar .nav-bar-inner.extended .nav-bar-input{
    display: initial;
}

.nav-bar .nav-bar-inner.extended .nav-bar-logo{
    grid-area: logo;
}

.nav-bar .nav-bar-inner.extended .menu-icon{
    display: initial;
    grid-area: menu-icon;
    justify-self: flex-end;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main{
    grid-area: main;

    display: flex;
    flex-direction: column;
    row-gap: 4.6rem;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main .nav-bar-links{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main .nav-bar-links:first-child{
    margin-top: 2.8rem;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main .nav-bar-links a{
    display: flex;
    align-items: center;

    background: #FFDB98;
    height: 5.4rem;
    width: 100%;

    padding: 0 1.4rem;

    color: #000;
    font-weight: 800;
    text-decoration: none;
    font-size: 2.2rem;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main .nav-bar-input{
    position: relative;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main .nav-bar-input svg{
    position: absolute;

    top: 1rem;
    right: 2rem;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main .nav-bar-input input{
    width: 100%;
    height: 6rem;

    background: #FFDB98;

    border: solid .3rem #000;
    padding: 0 1.4rem;
}

.nav-bar .nav-bar-inner.extended .nav-bar-main .nav-bar-input input::placeholder{
    color: #000;
    font-weight: 500;
}

@media screen and (min-width: 540px){
    .nav-bar .nav-bar-inner{
        align-items: center;
        width: 68vw;
    }
}


@media screen and (min-width: 780px){
    .nav-bar .nav-bar-inner{
        align-items: center;
        width: 72vw;
    }

    .nav-bar .nav-bar-inner .nav-bar-main .nav-bar-links,
    .nav-bar .nav-bar-inner .nav-bar-input{
        display: initial;
    }

    .nav-bar .nav-bar-inner .menu-icon{
        display: none;
    }

    .nav-bar .nav-bar-inner .nav-bar-main{
        display: flex;
        align-items: center;
        column-gap: 4rem;
    }

    .nav-bar .nav-bar-inner .nav-bar-main .nav-bar-links{
        display: flex;
        align-items: center;
        
    }

    .nav-bar .nav-bar-inner .nav-bar-main .nav-bar-links a{
        height: 5rem;
    
        display: flex;
        align-items: center;

        text-decoration: none;
        color: #000;
        font-size: 2.2rem;
        font-weight: 800;

        transition: .6s ease-in-out;
    }

    .nav-bar .nav-bar-inner .nav-bar-main .nav-bar-links a:first-child{
        justify-content: flex-end;
        padding: 0 4rem;
        border-right: solid .2rem #000;
    }

    .nav-bar .nav-bar-inner .nav-bar-main .nav-bar-links a:last-child{
        justify-content: flex-start;
        padding:0  4rem;
    }

    .nav-bar .nav-bar-inner .nav-bar-main .nav-bar-links a:hover{
        color: var(--secondary-color);
    }

    .nav-bar .nav-bar-inner .nav-bar-main .nav-bar-input{
        position: relative;

        display: flex;
        align-items: center;
    }

    .nav-bar .nav-bar-inner .nav-bar-input input{
        display: none;

        width: 28rem;
        height: 6rem;

        background: #FFDB98;
    
        border: solid .3rem #000;
        padding: 0 1.4rem;
    }

    .nav-bar .nav-bar-inner .nav-bar-input svg.clicked{
        position: absolute;

        top: 1rem;
        right: 2rem;
    }

    .nav-bar .nav-bar-inner .nav-bar-input svg.clicked + label input{
        display: initial;
    }
    
}