.combination-container{
    width: 62vw;
    margin-bottom: 6rem;
}

.combination-container .combination-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    position: relative;
}

.combination-container .combination-container-header h2{
    font-size: 2.4rem;
}

.combination-container .combination-container-header .more-options{
    border: none;
    background: transparent;
    outline: none;
    transition: .4s ease;
}

.combination-container .combination-container-header .more-options:active svg{
    stroke: var(--main-color);
}

.combination-container .combination-container-header .combination-options{
    display: flex;
    flex-direction: column;
    position: absolute;

    right: -72px;
    top: 36px;

    border: 3px solid var(--secondary-color);
    background: #FFF;
}

.combination-container .combination-container-header .combination-options button,
.combination-container .combination-container-header .combination-options a{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 12rem;
    border: none;
    border-radius: none;  
    background: #FFF;

    padding: 0 1rem;
    outline: none;
    transition: .4s ease;
    text-decoration: none;
    color: #000000;

    font-size: 1.6rem;
}

.combination-container .combination-container-header .combination-options button:first-child{
    border-bottom:
    1.5px solid var(--secondary-color); ;
}

.combination-container .combination-container-header .combination-options button:active{
    color: var(--main-color);
}

.combination-container .combination-container-header .combination-options button:active svg{
    stroke: var(--main-color)
}

.combination-container .combination-container-header .combination-options button svg,
.combination-container .combination-container-header .combination-options a svg{
    margin-right: 1rem;
}

.combination-container .combinations-data{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;

    background: #E7E6E6;
    padding: 4rem 3.8rem;

    height: 32rem;
}

.combination-container .combinations-data .combinations-components ul{
    list-style: none;
    height: 94%;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.9rem;

    
}

.combination-container .combinations-data .combinations-components ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.combination-container .combinations-data .combinations-components ul li .component{
    color: var(--main-color);
}

.combination-container .combinations-data .combinations-game{
    padding-right: 4rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    
    max-width: 72rem;
}

.combination-container .combinations-data .combinations-game::-webkit-scrollbar{
    width: 1rem;
}

.combination-container .combinations-data .combinations-game::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #8B8B8B;
}

.combination-container .combinations-data .combinations-game .game-container{
    margin-bottom: 2rem;
}

.combination-container .combinations-data .combinations-game .game-container .game-logo p{
    width: 18rem;
}

@media screen and (max-width: 1438px){
    .combination-container .combination-container-header .combination-options{
        right: 0;
        top: 36px;
    }

    .combination-container .combinations-data .combinations-components ul li{
        max-width: 50rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .combination-container .combinations-data .combinations-game{
        padding-right: 2rem;
    }
    
}

@media screen and (max-width: 1330px){
    .combination-container .combinations-data{
        height: 52rem;
    }
    
    .combination-container .combination-container-header .combination-options{
        right: 0;
        top: 36px;
    }

    .combination-container .combinations-data .combinations-components{
        width: 100%;
        margin-bottom: 1.8rem;
    }

    .combination-container .combinations-data .combinations-components{
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--secondary-color);
        margin-bottom: 3rem;
    }

    .combination-container .combinations-data .combinations-game{
        min-width: 100%;
        height: 24rem;
        padding: 0;
        padding-right: 4rem;
    } 
    
    .combination-container .combinations-data .combinations-game .game-container .game-logo p{
        width: 24.8rem;
    }
}

@media screen and (max-width: 766px){
    .combination-container{
        width: 88vw;
    }
    .combination-container .combination-container-header .combination-options{
        right: 0;
        top: 36px;
    }
    .combination-container .combinations-data{
        height: 60rem;
    }

    .combination-container .combinations-data .combinations-components{
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--secondary-color);
        margin-bottom: 3rem;
    }

    .combination-container .combinations-data .combinations-game{
        padding: 0;
        overflow-y: scroll;
        height: 32rem;
    }

    .combination-container .combinations-data .combinations-game::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .combination-container .combinations-data .combinations-game .game-container .game-logo p{
        width: 12rem;
    }
}