.post-preview-container{
    position: relative;
}

.post-preview-container .three-dots-container .td-opts{
    position: absolute;
    top: 32px;
    left: 0%;
    z-index: 10;
    background: pink;

    display: flex;
    flex-direction: column;
    border: 3px solid var(--secondary-color);
}

.post-preview-container .three-dots-container .td-opts > *{
    background: #FFF;
    text-decoration: none;
    color: #000;
    border: none;

    display: flex;
    align-items: center;
    column-gap: 1rem;

    font-size: 1.6rem;
    padding: .4rem .8rem;
}

.post-preview-container .three-dots-container .td-opts > * svg{
    width: 18px;
    height: 18px;
}

.post-preview-container .three-dots-container .td-opts > *:not(:last-child){
    border-bottom: 1.5px solid var(--secondary-color);
}

.blog-post-preview{
    text-decoration: none;
    color: #000;
    margin-bottom: 3.6rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.blog-post-preview .three-dots-container .td-opts{
    position: absolute;
    top: 0%;
    left: 0;
}


.blog-post-preview img{
    width: 100%;
    height: 28rem;
    object-fit: cover
}

.blog-post-preview .post-preview-data{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}

.blog-post-preview .post-preview-data h2{
    font-size: 2.6rem;
    letter-spacing: .4rem;
    height: 8rem;
    transition: color .4s;
}

.blog-post-preview.featured .post-preview-data h2{
    height:inherit;
}

.blog-post-preview:hover .post-preview-data h2{
    color: var(--main-color);
}

.blog-post-preview.featured .post-preview-data p{
    font-size: 1.6rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


.blog-post-preview .post-preview-data .post-timestamp{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: #737373;
    font-size: 1.6rem;
}

.blog-post-preview .post-preview-data .post-timestamp svg{
    width: 2.2rem;
    height: 2.2rem;
}

@media screen and (min-width: 798px){
    .blog-post-preview.featured{
        flex-direction: row;
        align-items: start;
        column-gap: 2.4rem;
        width: 100%;
    }

    .blog-post-preview.featured img{
        width: 48vw;
    }

    .blog-post-preview.featured .post-preview-data{
        justify-content: space-between;
    }

    .blog-post-preview.featured .post-preview-data h2{
        font-size: 3rem;
        line-height: 1.8;
    }

    .blog-post-preview.featured .post-preview-data p{
        -webkit-line-clamp: 5;
        line-height:2;
    }

    .blog-post-preview{
        width: 28vw;
    }

    .blog-post-preview .post-preview-data h2{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px){
    .blog-post-preview.featured{
        align-items: center;
        max-width: inherit;
    }
    .blog-post-preview.featured img{
        width: 48vw;
        max-width: inherit;
        object-fit:cover;
    }

    .blog-post-preview.featured .post-preview-data h2{
        line-height: 1.5;
    }

    .blog-post-preview.featured .post-preview-data p{
        line-height: 1.8;
    }

    .blog-post-preview{
        width: 22vw;
        max-width: 34.8rem;
    }

    .blog-post-preview img{
        width: 22vw;
        max-width: 34.8rem;
    }

    .blog-post-preview.featured .post-preview-data{
        width: 56rem;
    }

}

@media screen and (min-width: 1024px){
    .post-preview-container .three-dots-container .td-opts{
        top: 32px;
        left: -84px;
    }
}

@media screen and (min-width: 1400px){
    .blog-post-preview, .blog-post-preview img{
        width: 22vw;
        max-width: 36.88rem;
    }
}