.blog-post-preview{
    text-decoration: none;
    color: #000;
    margin-bottom: 3.6rem;
}

.blog-post-preview{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.blog-post-preview img{
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.blog-post-preview .post-preview-data{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}

.blog-post-preview .post-preview-data h2{
    font-size: 2.6rem;
    letter-spacing: .4rem;
}

.blog-post-preview.featured .post-preview-data p{
    font-size: 1.6rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


.blog-post-preview .post-preview-data .post-timestamp{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: #737373;
    font-size: 1.6rem;
}

.blog-post-preview .post-preview-data .post-timestamp svg{
    width: 2.2rem;
    height: 2.2rem;
}

@media screen and (min-width: 796px){
    .blog-post-preview.featured{
        flex-direction: row;
        column-gap: 2.4rem;
        width: 100%;
    }

    .blog-post-preview.featured img{
        width: 48vw;
        max-width: 64rem;
    }

    .blog-post-preview.featured .post-preview-data{
        justify-content: space-between;
    }

    .blog-post-preview.featured .post-preview-data h2{
        font-size: 3rem;
        line-height: 1.8;
    }

    .blog-post-preview.featured .post-preview-data p{
        -webkit-line-clamp: 5;
        line-height:2;
    }

    .blog-post-preview{
        width: 28vw;
    }

    .blog-post-preview .post-preview-data h2{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1496px){
    .blog-post-preview.featured img{


        object-fit: contain;
    }
}