

.combinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 14rem;
}

.combinations .combinations-registered{
    width: 62vw;
    margin-bottom: 6.2rem;
}

.combinations .combinations-registered h2{
    font-size: 4.4rem;
    font-weight: 500;
    letter-spacing: initial;
}

.combinations .no-combination-found{
    margin-top: 8rem;
    width: 64vw;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2.8rem;
    color: #E7E6E6;
    text-align: center;
}

.combinations .no-combination-found svg{
    margin-bottom: 2rem;
}

.combinations-components{
    width: 46rem;
}

@media screen and (max-width: 1342px){
    .combinations-components{
        width: 100%;
    }
}

@media screen and (max-width: 766px){
    .combinations .combinations-registered{
        width: 88vw;
    }
}



