.Login{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.login-section{
    background: var(--secondary-color);

    width: 40vw;
    min-width: 56rem;
    min-height: 40rem;

    display: flex;
    justify-content: center;
}

.login-section .login-form{
    padding: 6rem 8rem;
    width: 100%;
}

.login-section .login-form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}

.login-section .login-form div label{
    font-size: 2.4rem;
    font-weight: 800;

    margin-bottom: 2rem;
}

.login-section .login-form div input{
    height: 4.8rem;
    font-size: 1.6rem;
    padding: 1rem 1.4rem;

    border: none;
    outline: none;
}

.login-section .login-form div input:focus{
    border: 1.5px solid var(--main-color-variation);
}

.login-section .login-form .btn:hover{
    border: none;
    background: var(--contrast-color-hover);
}

@media screen and (max-width: 1024px){
    .login-section{
        height: 40vh;
        width: 60vw;

        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 420px){
    .login-section{
        height: 100vh;
        width: 100vw;

        display: flex;
        align-items: center;
    }
}
