.combination-container{
    width: 62vw;
    margin-bottom: 6rem;
}

.combination-container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    position: relative;
}

.combination-container header h2{
    font-size: 2.6rem;
}

.combination-container header .more-options{
    border: none;
    background: transparent;
    outline: none;
    transition: .4s ease;
}

.combination-container header .more-options:active svg{
    stroke: var(--main-color);
}

.combination-container header .combination-options{
    display: flex;
    flex-direction: column;
    position: absolute;

    right: -72px;
    top: 36px;

    border: 3px solid var(--secondary-color);
    background: #FFF;
}

.combination-container header .combination-options button{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 12rem;
    border: none;
    border-radius: none;  
    background: #FFF;

    padding: 0 1rem;
    outline: none;
    transition: .4s ease;
}

.combination-container header .combination-options button:first-child{
    border-bottom:
    1.5px solid var(--secondary-color); ;
}

.combination-container header .combination-options button:active{
    color: var(--main-color);
}

.combination-container header .combination-options button:active svg{
    stroke: var(--main-color)
}

.combination-container header .combination-options button svg{
    margin-right: 1rem;
}

.combination-container .combinations-data{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;

    background: #E7E6E6;
    padding: 2.8rem 3.8rem;

    height: 28rem;
}

.combination-container .combinations-data .combinations-components ul{
    list-style: none;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.9rem;
}

.combination-container .combinations-data .combinations-components ul li .component{
    color: var(--main-color);
}

.combination-container .combinations-data .combinations-game{
    padding: 0 4rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.combination-container .combinations-data .combinations-game::-webkit-scrollbar{
    width: 1rem;
}

.combination-container .combinations-data .combinations-game::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #8B8B8B;
}

.combination-container .combinations-data .combinations-game .game-container{
    margin-bottom: 2rem;
}

@media screen and (max-width: 796px){
    .combination-container{
        width: 88vw;
    }
    .combination-container header .combination-options{
        right: 0;
        top: 36px;
    }
    .combination-container .combinations-data{
        height: 56rem;
    }

    .combination-container .combinations-data .combinations-components{
        padding-bottom: 1.8rem;
        border-bottom: 1px solid var(--secondary-color);
        margin-bottom: 1.8rem;
    }

    .combination-container .combinations-data .combinations-game{
        padding: 0;
        overflow-y: scroll;
        height: 28rem;
    }

    .combination-container .combinations-data .combinations-game::-webkit-scrollbar{
        display: none;
    }
}