.fps-input-container{
    margin-bottom: 3.6rem;
}

.fps-input-container p{
    margin-top: 1rem;
    font-size: 1.8rem;

    color: var(--main-color);
}

.fps-input{
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 3rem;
}

.fps-input select{
    appearance: none;
    background: transparent url(../../assets/images/arrow-select.svg) 98% no-repeat;
    

    border: 3px solid var(--secondary-color);
    outline: none;

    width: 220%;
    min-width: 24rem;
    height: 5.4rem;
    color: #5C5C5C;
    padding: 0 2rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fps-input .delete-fps-average{
    height: 5.4rem;
    min-width: 5.4rem;

    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 3rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;

    outline: none;
}


.fps-input:focus-within select,
.fps-input:focus-within div input,
.fps-input:focus-within .delete-fps-average{
    border: 3px solid var(--main-color-variation);
}

.fps-input:focus-within select,
.fps-input:focus-within div input{
    color: #000000;
}

.fps-input div input::-webkit-outer-spin-button,
.fps-input div input::-webkit-inner-spin-button{
    appearance: none;
}

.fps-input .delete-fps-average:active{
    height: 5.2rem;
    

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid var(--main-color-variation);
    color: var(--main-color-variation);
}


.fps-input.duplicated select,
.fps-input.duplicated .delete-fps-average,
.fps-input.duplicated div input{
    border: 3px solid var(--main-color);
}

.fps-input.duplicated .delete-fps-average svg{
    stroke: var(--main-color);
}

@media screen and (max-width: 886px){
    .fps-input{
        column-gap: 1.5rem;
    }
    
    .fps-input div input{
        width: 100%;
        min-width: 6rem;
    }
}

@media screen and (max-width: 416px){

}