.input-container{
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container label{
    font-weight: 800;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.input-container input{
    height: 5.4rem;
    padding: 0 2rem;
    outline: none;

    border: 3px solid var(--secondary-color);
    color: #5C5C5C;
}

.input-container input:focus{
    border: 3px solid var(--main-color-variation);
}