.main-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2.8rem;
}

.main-header .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;

    padding: 2rem;

    background: var(--contrast-color);
    margin-bottom: 3rem;
}

.main-header .nav-bar img{
    width: 16rem;
    height: 10rem;
}

.main-header .presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 2.4rem;
}

.main-header .presentation h2{
    margin-bottom: 2rem;
}

.main-header .presentation p{
    line-height: 1.8;

    font-size: 1.5rem;
}

.section-title{
    background: var(--secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    height: clamp(6rem, 10rem, 12rem);

    font-size: 1.6rem;
    color: #FFF;
}

.input-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 0;
    padding: 2.4rem;
}

.input-section > div{
    width: 100%;
}

.operations-buttons{
    display: flex;
    column-gap: 3rem;

    gap: clamp(1.2rem, 1.8rem, 2rem);
    width: 100%;
}

.result-container-div{
    padding: 0 2.4rem;
}

.filter-combination{
    margin-top: 1rem;
    padding: 2.4rem 0;
}

.filter-combination h2{
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.filter-combination .filter-components{
    background: #E7E6E6;
    padding: 1.4rem 2.2rem;
}

.filter-combination .filter-components ul{
    list-style: none;
    font-size: 1.6rem;
    line-height: 2;
}

.filter-combination .filter-components ul li span{
    color: var(--main-color);
}

.motherboard{
    padding: 2.4rem 0;
}

.motherboard h2{
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.motherboard .motherboard-box{
    background: var(--secondary-color);
    padding: 1.4rem 2.2rem;

    display: flex;
    align-items: center;

    font-size: 1.6rem;
    color: #FFF;
}

.motherboard .motherboard-box img{
    width: 4rem;
    margin-right: 1.5rem;
}

.games-container{
    padding: 2.4rem 0;
}

.games-container h2{
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.games-container .games-list{
    margin-bottom: 4rem;
}

.games-list .game-container .game-logo p{
    max-width: 34rem;
}

.games-container-info{
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.btn-again{
    padding: 2.4rem 0; 
}

.btn-again button{
    width: 28rem;
    margin-bottom: 6rem;
}


@media screen and (min-width: 496px){
    .label-section{
        position: relative;
    }
}

@media screen and (min-width: 512px){
    .main-header{
        align-items: center;
    }
    
    .presentation{
        padding: 0;
        width: 68vw;
       
        margin-bottom: 3rem;
    }

    .presentation h2{
        font-size: 2.4rem;
    }

    .input-section > div{
        max-width: 66vw;
    }

    .result-container-div{
        display: flex;
        flex-direction: column; 
        align-items: center;

        padding: 0;
    }

    .result-container-div > section{
        width: 66vw;
    }

    .label-section{
        position: relative;
        margin-bottom: 4rem;
    }

    .game-container .game-logo p{
        width: 34rem;
    }
}