

.fps-footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    background: var(--secondary-color);
}

.fps-footer .fps-footer-div{
    display: flex;
    width: 66vw;
    justify-content: space-between;

    padding: 2.8rem 0;
}

.fps-footer .footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 40rem;
}

.fps-footer .footer-info .fps-info-email h1{
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
}

.fps-footer .footer-info .fps-info-email p{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}


.fps-footer .footer-info .devs-info-email h1{
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

.fps-footer .footer-info .suport-us h1{
    font-size: 2.4rem;
    margin-bottom: 2.4rem;  
}

.fps-footer .footer-info .devs-info-email p, .fps-footer .footer-info .fps-info-email p{
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 80vw;

    font-size: 2rem;
}

.fps-footer .footer-email{
    width: 48rem;
}

.fps-footer .footer-email h1{
    font-size: 2rem;
    margin-bottom: 1.8rem;
}

.fps-footer .footer-email form input{
    width: 100%;
    font-size: 1.6rem;
    
    height: 4.8rem;
    padding: 1rem 1.2rem;

    border: none;

    background: #000;
    outline: none;

    margin-bottom: 1.8rem;
    color: white;
}

.fps-footer .footer-email form textarea{
    width: 100%;
    background: #000;
    padding: 1.6rem 1.2rem;
    border: none;
    outline: none;

    height: 20rem;
    color: white;

    margin-bottom: 1.8rem;
    resize: none;
}

.fps-footer .footer-email form .btn{
    width: 16rem;

}

.fps-footer .footer-email form .btn:hover{
    border: none;
    background: var(--contrast-color-hover);
}

.fps-footer .footer-email form .btn span{
    display: flex;
    align-self: center;

    gap: 2rem;
}

.fps-footer .footer-email form .btn span strong{
    display: flex;
    align-self: center;
}

.contact-us input::placeholder, .contact-us textarea::placeholder{
    color: white;
}

@media screen and (max-width: 1024px){
    .fps-footer .fps-footer-div{
        flex-direction: column;
    }
    .fps-footer .fps-footer-div .footer-info, .fps-footer .fps-footer-div .footer-email{
        width: 68vw;
    }
}

@media screen and (max-width: 738px){
    .fps-footer .fps-footer-div{
        justify-content: center;
    }

    .fps-footer .fps-footer-div .footer-info div{
        margin-bottom: 4.4rem;
        width: 88vw;
    }

    .fps-footer .fps-footer-div .footer-info div svg{
        width: 24px;
        height: 24px;
    }

    .fps-footer .fps-footer-div .footer-info div:last-child{
        margin-bottom: 6rem;
    }

    .fps-footer .fps-footer-div .footer-info .suport-us h1{
        font-size: 2.4rem;
    }

    .fps-footer .fps-footer-div .footer-info, .fps-footer .fps-footer-div .footer-email{
        width: 68vw;
    }
    
}

@media screen and (max-width: 608px){
    .fps-footer .fps-footer-div{
        justify-content: center;
        padding: 2.4rem;
        width: 100%;
    }

    .fps-footer .footer-email form{
        width: 90vw;
    }

}
