.add-image-popup{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100vw;
    
    background: rgba(0, 0, 0, .5);

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-image-popup-inner{
    background: #FFF;

    width: 48vw;
    padding: 6.4rem 8rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.add-image-popup-inner .aip-header{
    font-size: 1.8rem;
}

.add-image-popup-inner .aip-insert-types{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -2rem;
}

.add-image-popup-inner .aip-insert-types button{
    height: 4.2rem;
    border: none;
    padding: 1rem 8rem;
    font-weight: 800;
    color: #FFF;
    background: var(--secondary-color);
    outline: none;
}

.add-image-popup-inner .aip-insert-types button:not(.active){
    background: #FFF;
    color: #626262;
}

.add-image-popup-inner .aip-insert-inputs{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    width: 100%;
    margin-bottom: 2rem;
}

.add-image-popup-inner .aip-insert-inputs .aip-input-container{
    display: flex;
    flex-direction: column;
}

.add-image-popup-inner .aip-insert-inputs .aip-input-container label{
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.add-image-popup-inner .aip-insert-inputs .aip-input-container input{
    padding: 0 2rem;
    outline: none;

    border: 3px solid var(--secondary-color);
    color: #5C5C5C;
    height: 5.4rem;
}

.add-image-popup-inner .aip-insert-inputs .aip-input-container .input-trigger{
    display: flex;
    align-items: center;
    column-gap: 3.2rem;
}

.add-image-popup-inner .aip-insert-inputs .aip-input-container .input-trigger button{
    background: var(--secondary-color);
    font-weight: 800;
    height:5.4rem;
    border: none;
    padding: 1rem 2rem;
    color: #FFF;
}

.add-image-popup-inner .aip-insert-inputs .aip-input-container .input-trigger p{
    font-weight: 500;
    font-size: 1.6rem;
}

.add-image-popup-inner .aip-footer{
    display: flex;
    column-gap: 3.2rem;
}

.add-image-popup-inner .aip-img-preview-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-image-popup-inner .aip-img-preview-container .aip-img-preview{
    object-fit: contain;
}

@media screen and (max-width: 1032px){
    .add-image-popup-inner{
        width: 64vw;
        padding: 6.4rem 8rem;
    }
}

@media screen and (max-width: 396px){
    .add-image-popup-inner{
        width: 86vw;
        padding: 6.4rem 4rem;
    }
    
    .add-image-popup-inner .aip-img-preview-container .aip-img-preview{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}