.Combination{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.8rem 0;
}

.combination-header{
    width: 56vw;
    margin-bottom: 6.2rem;
}

.combination-header h2{
    font-size: 4.4rem;
    font-weight: 500;
    letter-spacing: initial;
}

.combination-data-container{
    width: 56vw;
   
}

.combination-data-container .combination-form > div{
   margin-bottom: 6rem;
}

.combination-data-container .combination-form .fps-input-container h2{
    font-weight: 800;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}


.fps-input-container .add-new-fps-average{
    width: 100%;
    border: none;

    background: var(--secondary-color);
    outline: none;
    transition: background .4s;
}

.fps-input-container .add-new-fps-average:active{
    background: var(--main-color-variation);
}

.edit-add-buttons{
    margin-top: 8rem;
    width: 56vw;
    display: flex;
    column-gap: 4rem;
}

.edit-add-buttons button{
    width: 36rem;
}