.editor-img-container{
    width: 100%;
}

.editor-img-container img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.editor-img-container figcaption{
    font-size: 1.6rem;
}

.editor-img-container figcaption strong{
    color: var(--main-color);
}

