@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

:root{
    font-size: 50%;

    --main-color: #5500F1;
    --main-color-variation: #763BF8;
    --secondary-color: #9776FF;
    --contrast-color: #FFD382;
}

html, body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
}

h1{
    font-family: 'Gameplay', sans-serif;
    font-weight: 400;
}

h2{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
}

@font-face{
    font-family: 'Gameplay';
    font-style: normal;
    font-weight: 400;
    src: url('./Gameplay.ttf');
}

.btn{
    border: none;
    color: #000;
    background: #E7E6E6;
    font-weight: 800;
    
    width: clamp(16rem, 22rem, 30rem);

    padding: 0 1.4rem;

    height: 6rem;
    border-radius: none;
    outline: none;

    transition: background .4s;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.8rem;
}

.btn:hover, .btn:focus{
    background: #FAF9F9;
}

.btn:active{
    background: #8A8888;
}

.btn.main{
    background: var(--contrast-color);
    color: #FFF;
}

.btn.main:hover, .btn.main:focus{
    background: #FFDB98;
}

.btn.main:active{
    background: var(--main-color);
}
