:root{
    font-size: 50%;

    --main-color: #5500F1;
    --main-color-variation: #763BF8;
    --secondary-color: #9776FF;
    --contrast-color: #FFD382;
    --contrast-color-hover: #FFDB98;
}

html, body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
}

h1{
    font-family: 'Gameplay', sans-serif;
    font-weight: 400;
}

h1.blog-title{
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color);
    font-size: 5.4rem;
    font-weight: 800;
    letter-spacing: .6rem;
}

h2.blog-subtitle{
    font-weight: 800;
    color: #000;
    font-size: 3.6rem;
    letter-spacing: .6rem
}

h2{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
}

@font-face{
    font-family: 'Gameplay';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Gameplay.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/montserrat-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/montserrat-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/montserrat-v15-latin-500.woff') format('woff'), /* Modern Browsers */
            url('../fonts/montserrat-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/montserrat-v15-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/montserrat-v15-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/montserrat-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/montserrat-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/montserrat-v15-latin-800.woff') format('woff'), /* Modern Browsers */
            url('../fonts/montserrat-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/montserrat-v15-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

.btn{
    border: none;
    color: #000;
    background: #E7E6E6;
    font-weight: 800;
    
    width: clamp(16rem, 28rem, 30rem);

    padding: 0 1.4rem;

    height: 6rem;
    border-radius: none;
    outline: none;

    transition: ease-in .4s;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.8rem;
}

.btn:hover{
    border: solid .35rem #000;
    background: transparent;
}

.btn:active{
    background: #D2D2D2;
}

.btn.main{
    background: var(--contrast-color);
}

.btn.main:hover{
    border: solid .35rem var(--contrast-color);
    background: transparent;
}

.btn.main:active{
    background: #FFC55A;
}
