.editor-container .editor-options{
    height: 7.2rem;
    width: 100%;

    display: flex;
    align-items: center;
}

.editor-container .editor-options .editor-options-opts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}

.editor-container .editor-options .editor-options-opts div{
    padding: 0 3rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.editor-container .editor-options .editor-options-opts div:not(:last-child){
    border-right: 3px solid #F1F1F1;
}

.editor-container .editor-options .editor-options-opts .inline-options, .lists-options, .media-options{
    display: flex;
    column-gap: 1.5rem;
}

.editor-container .editor-options .editor-options-opts .inline-options{
    position: relative;
}

.editor-container .editor-options .editor-options-opts .inline-options .color-options{
    position: absolute;
    right: -12.8%;
    top: 150%;
    width: 16rem;
    height: 9.2rem;

    display: none;

    padding: .2rem 1.2rem;

    border: 3px solid var(--secondary-color);
}

.editor-container .editor-options .editor-options-opts .inline-options .color-options.visible{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: .8rem;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options{
    position: absolute;
    right: -28.6%;
    top: 150%;
    width: 16rem;
    height: 9.2rem;

    display: none;

    padding: .2rem 1.2rem;

    border: 3px solid var(--secondary-color);
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options .none-bg {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    column-gap: .8rem;
    font-weight: 500;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options .none-bg svg{
    padding: 0;
    width: 3.4rem;
    height: 3.4rem;
    padding: .2rem .8rem;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options .bg-options-colors{
    display: flex;
    column-gap: .8rem;
    padding: .2rem 1.2rem;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options.visible{
    display: flex;
    flex-direction: column;
}


.editor-container .editor-options .editor-options-opts .inline-options .color-options span,
.editor-container .editor-options .editor-options-opts .inline-options .bg-options span{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}

.editor-container .editor-options .editor-options-opts .title-options select{
    background: transparent;
    border: none;
    height: 100%;
    color: #FFF;
    font-size: 1.8rem;
    border-radius: 2.5px;
    transition: background .2s;
}

.editor-container .editor-options .editor-options-opts button{
    background: transparent;
    border: transparent;
}

.editor-container .editor-options .editor-options-opts svg{
    height: 42px;
    width: 24px;
    padding: 0 2px;
    border-radius: 5px;

    transition: background .2s;
}

.editor-container .editor-options .editor-options-opts svg.active{
    stroke: var(--main-color);
}

.editor-container .editor-options .editor-options-opts .title-options select:hover,
.editor-container .editor-options .editor-options-opts .title-options select:focus,
.editor-container .editor-options .editor-options-opts svg:hover,
.editor-container .editor-options .editor-options-opts svg:focus{
    background: rgba(255,255, 255, 0.4);
}

.editor-container .editor-options .editor-options-opts .title-options select option{
    color: #000;
}
