.editor-container .editor-options{
    height: 7.2rem;
    width: 100%;

    display: flex;
    align-items: center;
}

.editor-container .editor-options .editor-options-opts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}


.editor-container .editor-options .editor-options-opts div{
    padding: 0 3rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-self: start;
}

.editor-container .editor-options .editor-options-opts div:not(:last-child){
    border-right: 3px solid #F1F1F1;
}

.editor-container .editor-options .editor-options-opts .inline-options, .lists-options, .media-options{
    display: flex;
    column-gap: 1.5rem;
}

.editor-container .editor-options .editor-options-opts .inline-options{
    position: relative;
}

.editor-container .editor-options .editor-options-opts .inline-options .color-options{
    position: absolute;
    right: -12.8%;
    top: 150%;
    width: 16rem;
    height: 9.2rem;

    display: none;

    padding: .2rem 1.2rem;

    border: 3px solid var(--secondary-color);
}

.editor-container .editor-options .editor-options-opts .inline-options .color-options.visible{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: .8rem;
    background: #FFF;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options{
    position: absolute;
    right: -28.6%;
    top: 150%;
    width: 16rem;
    height: 9.2rem;

    display: none;

    padding: .2rem 1.2rem;

    border: 3px solid var(--secondary-color);
    background: #FFF;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options .none-bg {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    column-gap: .8rem;
    font-weight: 500;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options .none-bg svg{
    padding: 0;
    width: 3.4rem;
    height: 3.4rem;
    padding: .2rem .8rem;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options .bg-options-colors{
    display: flex;
    column-gap: .8rem;
    padding: .2rem 1.2rem;
}

.editor-container .editor-options .editor-options-opts .inline-options .bg-options.visible{
    display: flex;
    flex-direction: column;
}


.editor-container .editor-options .editor-options-opts .inline-options .color-options span,
.editor-container .editor-options .editor-options-opts .inline-options .bg-options span{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}

.editor-container .editor-options .editor-options-opts .title-options select{
    background: transparent;
    border: none;
    height: 100%;
    color: #FFF;
    font-size: 1.8rem;
    border-radius: 2.5px;
    transition: background .2s;
}

.editor-container .editor-options .editor-options-opts button{
    background: transparent;
    border: transparent;
}

.editor-container .editor-options .editor-options-opts svg{
    height: 42px;
    width: 24px;
    padding: 0 2px;
    border-radius: 5px;

    transition: background .2s;
}

.editor-container .editor-options .editor-options-opts svg.active{
    stroke: var(--main-color);
}

.editor-container .editor-options .editor-options-opts .title-options select:hover,
.editor-container .editor-options .editor-options-opts .title-options select:focus,
.editor-container .editor-options .editor-options-opts svg:hover,
.editor-container .editor-options .editor-options-opts svg:focus{
    background: rgba(255,255, 255, 0.4);
}

.editor-container .editor-options .editor-options-opts .title-options select option{
    color: #000;
}

@media screen and (max-width: 1032px){
    .editor-container .editor-options .editor-options-opts svg{
        height: 38px;
        width: 20px;
    }
    .editor-container .editor-options .editor-options-opts div{
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 396px){
    .editor-container .editor-options{
        height: 12rem;
    }
    .editor-container .editor-options .editor-options-opts{
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "select link lists "
                             "inline-opts inline-opts medias" ;

        justify-content: center;
        padding: 0 2rem;
        height: 10rem;
    }

    .editor-container .editor-options .editor-options-opts div:not(:last-child){
        border-right: none;
    }
    .editor-container .editor-options .editor-options-opts div{
        padding: 0 1.5rem;
    }

    .editor-container .editor-options .title-options{
        grid-area: select;
    }

    .editor-container .editor-options .title-options select{
        width: 18rem;
    }

    .editor-container .editor-options .inline-options{
        grid-area: inline-opts;
        
    }

    .editor-container .editor-options .editor-options-opts svg{
        height: 44px;
        width: 26px;
    }

    .editor-container .editor-options .link-option{
        grid-area: link;
        border: none;
    }

    .editor-container .editor-options .lists-options{
        grid-area: lists;
    }

    .editor-container .editor-options .media-options{
        grid-area: medias;
    }


    
}