.game-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-width: 32rem;
    padding: .6rem 2rem;

    border: 3px solid var(--secondary-color);

    margin-bottom: 1.6rem;
}

.game-container .game-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-container .game-logo img{
    width: 4.2rem;
    height: 4.2rem;
    
    margin-right: 1.4rem;
}

.game-container .game-logo p{
    font-size: 1.4rem;
    
    margin-right: 1rem;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    
}

.game-container .game-fps p{
    font-size: 1.4rem;
    min-width: 14rem;
}

.game-container .game-fps p span{
    color: var(--main-color);
    white-space: nowrap;
    
}

@media screen and (min-width: 1311px){
    .game-container .game-logo p{
        width: 20rem;
    }
}

@media screen and (max-width: 766px){
    .game-container{
        padding: .6rem 1rem; 
    }
    
    .game-container .game-logo p{
        width: 30rem;
    }

    .game-container .game-logo img{
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (max-width: 544px){
    .game-container{
        padding: .8rem;
    }

    .game-container .game-logo p{
        width: 18rem;
    }
}
