.game-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-width: 32rem;
    padding: .6rem 2rem;

    border: 3px solid var(--secondary-color);

    margin-bottom: 1.6rem;
}

.game-container .game-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-container .game-logo img{
    width: 4.2rem;
    height: 4.2rem;
    
    margin-right: 1.4rem;
}

.game-container .game-logo p{
    font-size: 1.4rem;
    min-width: 10rem;
    width: 12rem;
    max-width: 20rem;

    margin-right: 1rem;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-container .game-fps p{
    font-size: 1.4rem;
    min-width: 16rem;
}

.game-container .game-fps p span{
    color: var(--main-color);
    white-space: nowrap;
    
}