.BlogAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
}

.BlogAdmin .ba-post{
    width: 88vw;
}

.BlogAdmin .ba-post > *:last-child{
    margin-bottom: 6rem;
}

.BlogAdmin .ba-post > * > h2{   
    font-size: 3.8rem;
    font-weight: 500;
    letter-spacing: normal;
    margin: 3rem 0;
}

.three-dots-container{
    width: 100%;
    position: relative;
}

.BlogAdmin .ba-post .ba-saved-posts-rows,
.BlogAdmin .ba-post .ba-published-posts-rows{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.BlogAdmin .ba-post .ba-saved-posts-row,
.BlogAdmin .ba-post .ba-published-posts-row{
    display: flex;
    column-gap: 2rem;
}

.BlogAdmin .no-post-found{
    margin-top: 16rem;
    width: 64vw;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2.8rem;
    color: #E7E6E6;
    text-align: center;
}
.BlogAdmin .no-post-found svg{
    margin-bottom: 2rem;
}


@media screen and (min-width: 762px){
    .BlogAdmin .ba-post{
        width: 68rem;
    }
}

@media screen and (min-width: 1024px){
    .BlogAdmin .ba-post{
        width: 68.8vw;
    }

}

@media screen and (min-width: 1400px){
    .BlogAdmin .ba-post{
        width: 64vw;
    }
}
