.BlogAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
}

.BlogAdmin .ba-post{
    width: 88vw;
}

.BlogAdmin .ba-post > *:last-child{
    margin-bottom: 6rem;
}

.BlogAdmin .ba-post > * > h2{   
    font-size: 3.8rem;
    font-weight: 500;
    letter-spacing: normal;
    margin: 3rem 0;
}

.three-dots-container{
    width: 100%;
    position: relative;
}

.BlogAdmin .ba-post .ba-saved-posts-rows,
.BlogAdmin .ba-post .ba-published-posts-rows{
    display: flex;
    column-gap: 2rem;
}

@media screen and (min-width: 762px){
    .BlogAdmin .ba-post{
        width: 68rem;
    }
}

@media screen and (min-width: 1024px){
    .BlogAdmin .ba-post{
        width: 68.8vw;
    }

}

@media screen and (min-width: 1400px){
    .BlogAdmin .ba-post{
        width: 64vw;
    }
}
